<!DOCTYPE html>
<html>

<head>
    <title>Lab Assignment 3</title>
   
</head>

<body>
    <div class = "app-container-grid"></div>
    <main-header></main-header>
    <main-content></main-content>
    <main-footer></main-footer>
    <!-- <div class="main-container">
        <div class="row-one">
            <div class ="container-padding">
                r1c1
            </div>
            <div (mouseleave)="resetGreeting()" (mouseenter) ="showGreeting()" id= "r1c2" class ="container-padding">
                r1c2
            </div>
            <div class ="container-padding">
                r1c3
            </div> -->

        </div>
        <!-- <div class="row-two">
            <div class ="container-padding">
                r2c1
            </div>
            <div class ="container-padding">
                r2c2
            </div>
            <div class ="container-padding">
                r2c3
            </div>
        </div>
        <div class="row-three">
            <div class ="container-padding">
                r3c1
            </div>
            <div class ="container-padding">
                r3c2
            </div>
            <div class ="container-padding">
                r3c3
            </div>

        </div>
    </div>
    <script src = "./index.js" ></script> -->

</body>

</html>